<!DOCTYPE html>
<html>
<head>
    <title>Weather App</title>
    <script type="text/javascript" src="js/event.js"></script>

    <script type="text/javascript" src="js/locationsListModel.js"></script>
    <script type="text/javascript" src="js/locationsListView.js"></script>

    <script type="text/javascript" src="js/locationModel.js"></script>
    <script type="text/javascript" src="js/locationView.js"></script>

    <script type="text/javascript" src="js/client.js"></script>
</head>
<body>

<%- body -%>

</body>
</html>